[Unit]
Description=Carbon Tracker Web (Gunicorn)
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/opt/carbon-tracker
EnvironmentFile=/opt/carbon-tracker/.env
ExecStart=/usr/bin/python3 /usr/local/bin/gunicorn -w 3 -b 0.0.0.0:8000 "app:create_app"
Restart=always

[Install]
WantedBy=multi-user.target